@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-thumb-bg: #33363D;
  --scrollbar-track-bg: #777777;
}

* {
  @media (min-width: theme('screens.tb')) {
    :root {
      --scrollbar-width: 10px;
    }

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
      @apply bg-gray-4;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-gray-3;
    }

    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg);
  }
}

html {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

body {
  @apply bg-black text-white select-none;
  height: 100vh;
  padding-right: var(--scrollbar-width, 0px);
}

h1 {
  @apply text-s_h1;
}

h2 {
  @apply text-s_h2;
}

h3 {
  @apply text-s_h3;
}

h4 {
  @apply text-s_h4;
}

h5 {
  @apply text-s_h5;
}
